ENV=prod
DB_DATABASE=relaym
DB_USER=app
DB_PASSWORD=<PASSWORD>
DB_ROOT_PASSWORD=<ROOT_PASSWORD>
DB_HOST=<DB_HOST>
DB_PORT=3306
SPOTIFY_REDIRECT_URL=http://<HOST>/api/v3/callback
PORT=8080
CORS_ALLOW_ORIGIN=<FRONTEND_ORIGIN>
FRONTEND_URL=<FRONTEND_URL>
SPOTIFY_CLIENT_ID=<CLIENT_ID>
SPOTIFY_CLIENT_SECRET=<CLIENT_SECRET>

