[mysqld]
# 文字コード/照合順序の設定
character-set-server = utf8mb4
collation-server = utf8mb4_bin

# タイムゾーンの設定
default-time-zone = SYSTEM
log_timestamps = SYSTEM

# エラーログの設定
; log-error = /var/log/mysql/mysql-error.log

# スロークエリログの設定
# slow_query_log = 1
# slow_query_log_file = /var/log/mysql/mysql-slow.log
# long_query_time = 5.0
# log_queries_not_using_indexes = 0

# 実行ログの設定
# general_log = 1
# general_log_file = /var/log/mysql/mysql-query.log

[mysql]
# 文字コードの設定
default-character-set = utf8mb4

[client]
# 文字コードの設定
default-character-set = utf8mb4